<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="https://cx0y.github.io/rss.xml">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
    <style>
      .link{
        direction:none;
        color:#fff;
      }
      .ttt{
        font-size:1rem;
      }
    </style>
  </head>
  <body>
    <!--
      <div id="header">
        <nav>
          <ul>
            <li class="fork"><a href="{{ site.github.repository_url }}"> GitHub </a></li>
            {% if site.show_downloads %}
              <li class="downloads"><a href="{{ site.github.zip_url }}">ZIP</a></li>
              <li class="downloads"><a href="{{ site.github.tar_url }}">TAR</a></li>
              <li class="title">DOWNLOADS</li>
            {% endif %}
          </ul>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1 id="ti"><a href="https://cx0y.github.io/" class="link">{{ site.title | default: site.github.repository_name }}</a></h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <p class="ttt"><a href="https://github.com/cx0y/cx0y.github.io" class="link" target="_blank"><i class="fa-brands fa-github"></i></a> | <a href="https://cx0y.github.io/feed.xml" class="link" target="_blank"><i class="fa-solid fa-rss"></i></a></p>
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
        </div>
        
        {{ content }}

      </section>
    </div>
    
    <script src="https://giscus.app/client.js"
        data-repo="cx0y/cx0y.github.io"
        data-repo-id="R_kgDOIP6gPQ"
        data-category="General"
        data-category-id="DIC_kwDOIP6gPc4CSezS"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>

  </body>
</html>

