---
layout: default
---

<article class="post">
    <h1>{{ page.title }}</h1>
    <p class="meta">Published on {{ page.date | date: "%B %d, %Y" }}</p>

    <div class="content">
        {{ content }}  <!-- Blog post content goes here -->
    </div>

    <hr>

    <!-- Add Giscus comments -->
    <div id="giscus_thread"></div>
    <script src="https://giscus.app/client.js"
        data-repo="cx0y/cx0y.github.io"
        data-repo-id="R_kgDOIP6gPQ"
        data-category="General"
        data-category-id="DIC_kwDOIP6gPc4CSezS"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
</article>
